.friends-display-link {
  text-align: center;
  display: block;
  background-color: black;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  /* margin-bottom: 15px;
  margin-top: -25px; */
  color: #c7e1d6;
}
.friends-display-link i {
  color: #c7e1d6;
}
.display__count-title {
}
.display__count-num {
  margin-bottom: 10px;
}

@keyframes display-glow {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: var(--display-glow);
  }
  100% {
    text-shadow: none;
  }
}
.display__money-num,
.display__count-num span:first-child {
  font-size: 30px;
  /* text-shadow: var(--display-glow); */
  animation: display-glow 5s ease-in-out infinite;

  text-decoration: underline;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.friends-screen {
  padding: 20px var(--horizontal-space) 10px var(--horizontal-space);
  margin-bottom: 70px;
  /* background-color: var(--main-color); */
  background: var(--gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.friends-screen__channel {
  border-top: var(--main-border);
  margin-top: 25px;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel:last-child {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  /*hideSplashScreen : 마지막 값을 유지*/
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
.splash-screen__logo {
  width: 300px;
}
