#no-mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding-bottom: 270px;
  background-color: var(--main-color);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
