.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-top: 25px;
  background-color: black;
  color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 800;
}
.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
.screen-header__icons span:nth-child(odd) {
  color: var(--main-color);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
